<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .comment-container {
            margin-top: 2rem;
        }
        .comment-item {
            margin-bottom: 1rem;
        }
        .rating {
            color: #FFD700; 
        }
        #successMessage {
          position: fixed;
          text-align: center;
          top: 80px; 
          left: 10px; 
          z-index: 1000; 
        }
    </style>
</head>
<body>
    <%- include('partials/header') %>
    <% if(success_msg != ''){ %>
        <div id="successMessage" class="notification is-success" style="width: 200px; padding: 10px">
          <%= success_msg %>
        </div>
      <% } %>

      <% if(error_msg !='' ){ %>
        <div id="successMessage" class="notification is-warning" style="width: 200px; padding: 10px">
            <%= error_msg %>
    
        </div>
        <% } %>
    <div class="container" style="padding: 1rem; min-height: 100vh;">
        <button class="button is-primary" style="margin-bottom: 1rem;">
            <a href="/" style="color: white;">Back</a>
        </button>

        <div class="columns">
            <div class="column is-one-third">
                <figure class="image is-4by3">
                    <img src="<%= orchid.image %>" alt="<%= orchid.name %>">
                </figure>
            </div>
            <div class="column">
                <h1 class="title is-1"><%= orchid.name %></h1>
                <p><strong>Origin:</strong> <%= orchid.origin %></p>
                <p><strong>Category:</strong> <%= orchid.category?.categoryName %></p>
                <p><strong>Natural:</strong> <%= orchid.isNatural %></p>
            </div>
        </div>

        <div class="comment-container">
            <h2 class="subtitle is-3">Comments</h2>
            <% orchid.comments.forEach(function(comment) { %>
            <div class="comment-item">
                <p><strong>Rating:</strong> 
                    <% for (let i = 0; i < comment.rating; i++) { %>
                        <i class="fas fa-star rating"></i>
                    <% } %>
                </p>
                <p><strong>Comment:</strong> <%= comment.comment %></p>
                <p><strong>Author:</strong> <%= comment.author.name %></p>
            </div>
            <% }); %>
            <!-- Form -->
            <h3 class="subtitle is-4">Add a Comment</h3>
            <form action="/orchids/<%= orchid._id %>/comment" method="POST">
                <div class="field">
                    <label class="label">Rating (1-5)</label>
                    <div class="control">
                        <input class="input" type="number" name="rating" min="1" max="5" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Comment</label>
                    <div class="control">
                        <textarea class="textarea" name="comment" rows="3" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
<script>
    setTimeout(function() {
      var successMessage = document.getElementById('successMessage');
      if (successMessage) {
        successMessage.style.display = 'none';
      }
    }, 3000); 
  </script>
</html>
